body{
    font-family: 'Quicksand', sans-serif;
    background-color: rgb(209, 185, 153);
  }
  h1{
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 50px;
  }
  
  #navbar {
    display:flex;
    overflow: hidden;
    flex-direction:row;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #ff3333;
    color: white;
    font-family: 'Exo 2', sans-serif;
    padding: 1em;
  }
  
  li{
    list-style:none;
    float:right;
  }
  #profile-link {
    color: black;
    text-align: center;
  }
  a{
    display:block;
    padding:15px;
    margin-right: 15px;
    text-decoration:none;
    color:#fff;
    font-weight:600;
  }
  
  #welcome-section{
    margin-top:20%;
  }
  
  section{
    text-align:center;
    /* display:flex; */
  }
  
  .projects-grid{
    display:flex;
    flex-direction:row;
  }
  
  .project-image{
    width: 400px;
    height:250px;
  }
  
  footer p{
    margin-bottom:0;
    text-align:center;
    background-color:rgb(201, 195, 236);
  }
  
  @media only screen and (max-width: 600px) {
  
    #welcome-section{
    margin-top:30%;
  }
    .projects-grid{
    display:flex;
    flex-direction:column;
  }
  
  .project-image{
    width: 400px;
    height:250px;
  }
  }

  .code {
    color: #ff3333;
  }
  .project-title {
    color: black;
  }